<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aquarius</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="icon" href="{% static 'photos/stars/logo3.png' %}">
</head>

<body>
    <div class="aquarius_bckg">
        <hr>
        <div class="aquarius_tit">♒︎ Aquarius - 水瓶座 ♒︎</div>
        <a class="left" href="{% url 'capricornus' %}"> to ♑︎ </a>
        <a class="right" href="{% url 'pisces' %}"> to ♓︎ </a>
        <br>
        <hr>

        <img class="pho" src="{% static 'photos/stars/aquarius.png' %}" alt="photo">
    </div>
</body>

</html>