<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gemini</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="icon" href="{% static 'photos/stars/logo11.png' %}">
</head>

<body>
    <div class="gemini_bckg">
        <hr>
        <br>
        <div class="gemini_tit">♊︎ Gemini - 双子座 ♊︎</div>
        <br>
        <a class="left" href="{% url 'taurus' %}"> to ♉︎</a>
        <a class="right" href="{% url 'cancer' %}"> to ♋︎ </a>
        <br>
        <hr>

        <img class="pho" src="{% static 'photos/stars/gemini.png' %}" alt="photo">
    </div>
</body>

</html>
