<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aries</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="icon" href="{% static 'photos/stars/logo12.png' %}">
</head>

<body>
    <div class="taurus_bckg">
        <hr>
        <br>
        <div class="taurus_tit">♉︎ Taurus - 金牛座 ♉︎</div>
        <br>
        <a class="left" href="{% url 'aries' %}">♈︎ to</a>
        <a class="right" href="{% url 'gemini' %}"> to ♊︎ </a>
        <br>
        <hr>

        <img class="pho" src="{% static 'photos/stars/taurus.png' %}" alt="photo">
    </div>
</body>

</html>