<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virgo</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="icon" href="{% static 'photos/stars/logo8.png' %}">
</head>

<body>
    <div class="virgo_bckg">
        <hr>
        <br>
        <div class="virgo_tit">♍︎ Virgo - 处女座 ♍︎</div>
        <br>
        <a class="left" href="{% url 'leo' %}">♌︎ to</a>
        <a class="right" href="{% url 'libra' %}"> to ♎︎ </a>
        <br>
        <hr>

        <img class="pho" src="{% static 'photos/stars/virgo.png' %}" alt="photo">
    </div>
</body>

</html>